/**
 * CSS following identica style
 */

* { margin:0; padding:0; }
a { cursor: pointer; border-bottom:0; }
html { font-size: 87.5%; background-color:#f0f2f5; height:100%; }
body {
background-color:#fff;
color:#000;
font-family:sans-serif;
font-size:1em;
line-height:1.65;
position:relative;
margin:0 auto;
width:71.714em;
width:1003px;
overflow:hidden;
padding:5px;
}

input, textarea, select, option {
padding:4px;
font-family:sans-serif;
font-size:1em;
}
input, textarea, select {
border-width:2px;
border-style: solid;
border-radius:4px;
-moz-border-radius:4px;
-webkit-border-radius:4px;
}

input.submit {
font-weight:bold;
cursor:pointer;
}
textarea {
overflow:auto;
}
option {
padding-bottom:0;
}
form label {
font-weight:bold;
}
form ul li {
list-style-type:none;
margin:9px 0 9px 0;
}
 
